
<div class="container">
    <div class="row">
        <div class="col-sm-12 col-md-5">
            {{> products/productsForm}}
        </div>
        <div class="col-sm-12 col-md-7">
            {{> products/productsTable}}
        </div>
    </div>
        
</div>
