  <form action="/products/add" method="POST">

    <div class="col-sm-12 col-md-6">
      <label for="title" class="form-label h4">Producto</label>
      <input
        type="text"
        class="form-control"
        name="title"
        id="title"
        placeholder="Ingrese el producto"
        aria-label="title"
      />
    </div>
    <div class="col-sm-12 col-md-6">
      <label for="price" class="form-label h4">Precio</label>
      <input
        type="text"
        class="form-control"
        name="price"
        id="price"
        placeholder="Ingrese el precio"
        aria-label="price"
      />
    </div>
    <div class="col-sm-12 col-md-6">
      <label for="stock" class="form-label h4">Stock</label>
      <input
        type="text"
        class="form-control"
        name="stock"
        id="stock"
        placeholder="Ingrese el stock"
        aria-label="stock"
      />
    </div>
    <div class="col-sm-12 col-md-6">
      <label for="image" class="form-label h4">Imagen</label>
      <input
        type="text"
        class="form-control"
        name="image"
        id="image"
        placeholder="Ingrese la Url de la imagen"
        aria-label="image"
      />
    </div>
    <button class="btn btn-primary btn-large mt-5">Agregar Producto</button>

  </form>
